In [1]:
import pandas as pd
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

In [2]:
df = pd.read_csv("testWho.csv")
df2 = pd.read_csv("numTest.csv")

In [5]:
df.head()

    Fruit        Drink        Game  Num     Who
0    Kiwi       SunnyD   Overwatch    1  Punjan
1   Apple  OrangeJuice  CandyCrush    2   Sudip
2  Banana         Coke  CallOfDuty    3   Sudip

In [6]:
feauters = ['Fruit', 'Drink','Game']

In [7]:
X = df[feauters]

In [8]:
y = df['Who']
y
le.fit(y)

LabelEncoder()

In [9]:
le.transform(y)

array([0, 1, 1])

In [10]:
list(le.inverse_transform([0]))

['Punjan']

In [11]:
df.head()

    Fruit        Drink        Game  Num     Who
0    Kiwi       SunnyD   Overwatch    1  Punjan
1   Apple  OrangeJuice  CandyCrush    2   Sudip
2  Banana         Coke  CallOfDuty    3   Sudip

In [12]:
dummy = pd.get_dummies(df)

In [13]:
dummy

,Num,Fruit_Apple,Fruit_Banana,Fruit_Kiwi,Drink_Coke,Drink_OrangeJuice,Drink_SunnyD,Game_CallOfDuty,Game_CandyCrush,Game_Overwatch,Who_Punjan,Who_Sudip
0,1,0,0,1,0,0,1,0,0,1,1,0
1,2,1,0,0,0,1,0,0,1,0,0,1
2,3,0,1,0,1,0,0,1,0,0,0,1